@charset "UTF-8";

/*
#f4a460
#bc8f8f
#d2b48c
#8b4513
*/

:root {
    --color01: #d2b48c;
    --color02: #f4a460;
    --color03: #bc8f8f;
    --color04: #8b4513;
    --color05: #702828;
}

*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header {
    background-image: linear-gradient(to bottom, var(--color02), var(--color05));
    padding: 40px;
    text-align: center;
    min-height: 150px;
}

header h1 {
    font-size: 4em;
    color: yellow;
    padding-bottom: 10px;
}

nav {
    background-color: var(--color05);
    padding: 15px;
    box-shadow: 0px 7px 9px rgb(42, 41, 41);
}

nav a {
    background-color: darkgoldenrod;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bolder;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--color05);
    color: yellow;
}

body {
    background-image: url('Imagem/dry-ground.jpg');
    background-position: center center;
    background-size: 5%;
}

main {
    max-width: 1000px;
    background-color: white;
    margin: auto;
    padding: 10px;
    box-shadow: 2px 2px 4px rgb(44, 44, 44);
    border-radius: 8px;
    text-align: justify;
}

main > p {
    font-family: Arial, Helvetica, sans-serif;
}

 main h2 {
    text-indent: 8px;
    font-size: 1.8em;
    background-image: linear-gradient(to right, var(--color05), var(--color01));
    color: yellow;
    box-shadow: 1x 1px 1px yellow;
    margin-bottom: 10px;
    margin-top: 10px;
 }

footer {
    padding: 20px;
    text-align: center;
    background-color: black;
}

footer > p {
    color: white;
    font-size: 1.5vw;
}

div.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--color01);
    border-radius: 8px;
    height: 330px;

}

div#text {
    font-size: 1.25em;
    line-height: 1.8em;
    color: #5c2222;
    font-weight: bolder;
    text-decoration: none;
    width: 280px;
    padding: 20px;
    overflow: hidden;
}

figure.Img1 {
    position: relative;
    overflow: hidden;
}

figure.Img1 img {
    width: 100%;
    height: 100%;
}

figure.Img1 figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(4, 4, 4, 0.414);
    color: Yellow;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: opacity 2s;
}

figure.Img1:hover figcaption {
    opacity: 1;
}


div.video01 {
    background-color: #8b4513;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 48.9%;
    position: relative;
}

div.video01 > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

div.video02 {
    background-color: darkolivegreen;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 48.9%;
    position: relative;
}

div.video02 > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

@media screen and (max-width: 740px) {
    div.container {
        flex-direction: column;
    }

    div#text {
        line-height: normal;
        width: auto;
        height: auto;
        font-size: 14px;
    }
}

@media screen and (max-width: 515px) {
    figcaption#tamanho {
        font-size: 8px;
    }
}

@media screen and (max-width: 457px) {
    nav {
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
}

    


